/* Eliza Hardy */

/* Refrenced demo 1 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    text-align: center;
}

a {
    color: rgb(165, 165, 19);
}

a:visited {
    color: rgb(103, 103, 2);
}

a:hover {
    color: rgb(151, 173, 117);
}

section {
    padding: 15px;
    background-color: rgba(145, 145, 89, 0.325);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(90, 90, 50, 0.13);
    margin: 20px;
    display: block;
    unicode-bidi: isolate;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 5px;
    margin-block-end: 10px;
    padding-inline-start: 30px;
    unicode-bidi: isolate;
}

body {
    font-family: Garamond, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin:  auto;
    padding: 50px;
    position: relative;
}

body:before {
    content: "body";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('csbackground.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
}

img {
    max-width: 150px;
    display: block;
    border: 2px solid olive;
    margin: auto;
    border-radius: 100px;
}